<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RetroTapes</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RetroTapes.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/69ea683068.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="topnav">
            <div class="inner-topnav">
                
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/images/logo.png" alt="Logo">
                    RetroTapes
                </a>

                <nav class="nav-icons">
                    <a asp-controller="Search" asp-action="Index" title="Sök" class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    </a>

                    <div class="dropdown">
                    <a href="#" title="Meny" class="menu-icon">
                        <i class="fa-solid fa-list"></i>
                     </a>

                     <div class="dropdown-menu">
                         <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                         <a class="dropdown-item" asp-controller="Search" asp-action="Advanced">Avancerad Sök</a>
                     </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RetroTapes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
