<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RetroTapes</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RetroTapes.styles.css" asp-append-version="true" />
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="main_site">
          <div>
               <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="/RetroTapes.png" alt="RetroLogo" width="200" height="180" ; />
               </a>
         </div>
     <div>
    
      <header id="header_header">

                <div class="btn-group btn-group-justified">
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index" id="button_main">Button</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Privacy" id="button_main">Button</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index" id="button_main">Button</a>
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Privacy" id="button_main">Button</a>

                </div>
      
            </header>
       
        







            <div class="View_center">
             <main role="main" class="pb-3"> 
             @RenderBody()
             </main> 
         </div>
    </div>
    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
