
:root {
    --color-1: #F4E3C9; /* backround */
    --color-2: #261F18; /* contrast color, Text */
    --color-3: #C13825; /* gradient color A, Red */
    --color-4: #E67520; /* gradient color B, Orange */
    --color-5: #EBB032; /* gradient color C, yellow */
    --DM-color-1: #261F18; /* Dark background */
    --DM-color-2: #F4E3C9; /* contrast color, Text */
    --DM-color-3: #C73825; /* gradient color A, Red */
    --DM-color-4: #E77F2F; /* gradient color B, Orange */
    --DM-color-5: #F0B841; /* gradient color C, yellow */
}

.dark-mode {
 
}

:root {
    --bs-body-bg: var(--color-1);
    --bs-body-color: var(--color-2);
    --bs-primary: var(--color-5);
    --bs-secondary: var(--color-4);
    --bs-warning: var(--color-3);
    --DM-bs-body-bg: var(--DM-color-1);
    --DM-bs-body-color: var(--DM-color-2);
    --DM-bs-primary: var(--DM-color-5);
    --DM-bs-secondary: var(--DM-color-4);
    --DM-bs-warning: var(--DM-color-3);
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;

}

html {
  position: relative;
  min-height: 100%;
}

.body-dark-mode{
    background-color:var(--DM-bs-body-bg);
    color:var(--DM-bs-body-color);
    
}

body {
    background-color: #F4E3C9; /*var(--bs-body-bg);*/ 
    color: var(--bs-body-color);
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.View_center{
    
    height:20rem;
 margin-top:5rem;
  
    text-align:center;

}

#button_main{
    background-color:var(--bs-primary);
    color:var(--bs-body-color);
}

#main_site{
    width:80%;
    
}

#header_header {
    width: 100%;
}